<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"
         ><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
      </li>
      <li class="divider"></li>
      <li class="nav-title">
        Agenda
      </li>
      
      <li class="nav-item nav-dropdown" routerLinkActive="open" appNavDropdown>
        <a class="nav-link nav-dropdown-toggle" href="#" appNavDropdownToggle><i class="fa fa-users"></i>Contactos</a>
        <ul class="nav-dropdown-items">
          <li class="nav-item">
            <a class="nav-link"
             routerLinkActive="active" routerLink="contacts/list"><i class="fa fa-archive"></i>Contactos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" 
             routerLinkActive="active" routerLink="contacts/add"><i class="fa fa-plus"></i>Crear contacto</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
